/* GENERIC STYLES */

div[class="aside"]>div[class="row"]{
    margin-bottom:              2%;
    vertical-align:             middle;
    padding:                    3px;
}

div[class="aside"]>form>input[type="text"]{
    width:                      50%;
    display:                    block;
}


/* CLASSES */

.aside{
    width:                      99%;
}

.aside>form>input{
    margin-bottom:              2%;
    width:                      50%;
}

/* IDs */