body{
    font-family:        Verdana, Geneva, Tahoma, sans-serif;
    overflow-y:         scroll;
    position:           relative;
}

html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

header{
    height: 150px;
    font-family: 'Brush Script MT';
    vertical-align: middle;
    position: relative;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    vertical-align:     middle;
    background-color: rgb(10, 68, 106);
}

.topmenu{
    background-color: rgb(4, 26, 41);
}

.fields{
    background-color: rgb(7, 47, 73);
}

.fields:hover{
    background-color: rgb(7, 62, 99);
    cursor: pointer;
}

.left_menu{
    background-color: rgb(17, 93, 144);
}

.fields_menu{
    background-color: rgb(57, 134, 185);
    opacity: 80%;
}

.select_labels{
    background-color: rgb(15, 112, 150);
}

.topmenu_bg{
    background-color: rgb(12, 83, 130);
}

.result_headers{
    background-color: rgb(7, 58, 78);
}

.rounded-top-right {
    border-top-right-radius: 5px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 5px;
}

footer{
    vertical-align:     bottom;
    bottom:             0; 
    left:               0; 
    position:           static;
    color:              white;
    background-color: rgb(15, 96, 150);
}

.apps>a{
    text-decoration: none;
    color: white;
}

.apps>a:hover{
    text-decoration: none;
    color: rgb(140, 236, 240);
}

.apps>div>a{
    text-decoration: none;
    color: white;
}

.apps>div>a:hover{
    text-decoration: none;
    color: rgb(140, 236, 240);
    background-color: rgb(18, 104, 161);
}

.neonText {
    color: white;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 17px #fff,
    0 0 38px #5271ff,
    0 0 55px #5271ff,
    0 0 65px #5271ff,
    0 0 75px #5271ff,
    0 0 80px #5271ff;
  }

.fliker_pak{
    animation: flicker 1.5s infinite alternate; 
}

.logo_column>.second_img{
    width: 100%;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    top: 20px;
    right: 25px;
}

.logo_column>.third_img{
    width: 100%;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    position: absolute;
    top: 20px;
    right: 70px;
}

  /* Flickering animation */
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;    
    }    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

/* For mobile phones: */
[class*="col-"] {
    width:                      100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width:    8.33%;}
    .col-s-2 {width:    16.66%;}
    .col-s-3 {width:    25%;}
    .col-s-4 {width:    33.33%;}
    .col-s-5 {width:    41.66%;}
    .col-s-6 {width:    50%;}
    .col-s-7 {width:    58.33%;}
    .col-s-8 {width:    66.66%;}
    .col-s-9 {width:    75%;}
    .col-s-10 {width:   83.33%;}
    .col-s-11 {width:   91.66%;}
    .col-s-12 {width:   100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width:      8.33%;}
    .col-2 {width:      16.66%;}
    .col-3 {width:      25%;}
    .col-4 {width:      33.33%;}
    .col-5 {width:      41.66%;}
    .col-6 {width:      50%;}
    .col-7 {width:      58.33%;}
    .col-8 {width:      66.66%;}
    .col-9 {width:      75%;}
    .col-10 {width:     83.33%;}
    .col-11 {width:     91.66%;}
    .col-12 {width:     100%;}
}

.carousel_image{
    height: 400px;
}