{% extends "./base_overview.html" %}
{% block overview_survival %}

  <!------------------------------------------------------------------------------------------------------------------------
        TOTAL SURVIVAL ANALYSISI BY KAPLAN-MEYER METHOD
  ------------------------------------------------------------------------------------------------------------------------>      
    
    
    <!-- NEXT CODE ONLY WILL APPEAR IF 'type' KEY IS SETTED AND ITS VALUE IS 'km_surv' -->
    {% if type == 'all' %}
    <div class="row" id="overview_survival_all">      
      {% block overview_survival_all %}
      {% endblock overview_survival_all %}
    </div>
    {% endif %}

    <!-- NEXT CODE ONLY WILL APPEAR IF 'type' KEY IS SETTED AND ITS VALUE IS 'km_surv' -->
    {% if type == 'grade' or type == 'bmi_status' or type == 'tumor_type' or type == 'mol_subtype' or type == 'stage' or type == 'radiotherapy' or type == 'age_group' %}
    <div class="row" id="overview_survival_category">      
      {% block overview_survival_category %}
      {% endblock overview_survival_category %}
    </div>
    {% endif %}

{% endblock overview_survival %}