{% extends "./base.html" %}
{% block home %}

<div class="row m-0 p-0">
    <div class="col-2 m-0 p-0">
    </div> 
    <div class="col-8 m-0 p-0">
        <small>
            <p class="w-100 m-0 mt-4 p-4 pt-3 pb-3 fs-4 text-center rounded-top border-bottom border-secondary fw-bold">
                Endometrial Cancer Tool (Demo) description
            </p>
            <p class="w-100 m-0 p-0 pt-3 fs-6 text-dark" style="text-align: justify;">
            <small>The Endometrial Cancer Tool (Demo) is a cutting-edge web application designed for 
                researchers, clinicians, and epidemiologists to statistically analyze this disease 
                survival data and generate comprehensive survival plots.</small>
            </p>

            <p class="w-100 m-0 p-0 pt-3 fs-6 text-dark" style="text-align: justify;">
                <small>This intuitive platform simplifies the complex process of survival analysis, 
                    making it accessible to users with varying levels of statistical expertise.
                    Users can easily create plots with no need of previous bioinformatic or statistics
                    knowledge.</small>
            </p>

            <p class="w-100 m-0 p-0 pt-3 fs-6 text-dark" style="text-align: justify;">
                <small>The core feature of ECT (Demo) is its powerful Kaplan-Meier estimator, 
                    which allows users to visualize survival functions over time.
                    Through an easy-to-use interface, users can customize survival plots by 
                    selecting variables such as grade, hystologic type, molecular subtype and stage.</small>
            </p>

            <p class="w-100 m-0 p-0 pt-3 fs-6 text-dark" style="text-align: justify;">
                <small>The application also supports advanced statistical methods, including 
                    Mann-Witney U, Hazard Ratio and log-rank p-value tests, to compare survival curves 
                    and assess the impact of covariates on survival outcomes.
                    Also it offers dynamic and interactive visualizations, where users can adjust 
                    time scales, zoom in, zoom out or select an area to study, enabling users to 
                    explore data effectively.</small>
            </p>

            <p class="w-100 m-0 p-0 pt-3 fs-6 text-dark" style="text-align: justify;">
                <small></small>
            </p>

            <p class="w-100 m-0 p-0 pt-3 pb-4 fs-6 text-dark" style="text-align: justify;">
                <small>Additionally, the platform supports the export of high-resolution plots, made with Dash/Plotly, 
                    suitable for publications or presentations.</small>
            </p>
            
        </small>      
    </div>
    <div class="col-2 m-0 p-0">
    </div> 
</div>

{% endblock home %}