{% extends "./base.html" %}
{% block overview %}

  <!-- FORM TO SELECT THE SURVIVAL TYPE ANALYSIS -->
  {% include "./block_overview_form.html" %} 

  <!------------------------------------------------------------------------------------------------------------------------
        TOTAL SURVIVAL ANALYSISI BY KAPLAN-MEYER METHOD
  ------------------------------------------------------------------------------------------------------------------------>      

  <!-- NEXT CODE ONLY WILL APPEAR IF 'type' KEY IS SETTED AND ITS VALUE IS 'km_surv' -->
    
<div class="row pb-4 mb-4">
  {% if type %}
    <div class="col-12 col-s-9" id="overview_survival">
      {% block overview_survival %}
      {% endblock overview_survival %}
    </div>
  {% endif %}
  {% if mode != 'bmi' %}
    <div class="col-12 col-s-9" id="overview_infiltration">
      {% block overview_infiltration %}
      {% endblock overview_infiltration %}
    </div>
  {% endif %}
  {% if mode == 'overview_clinical_infiltration' %}
    <div class="col-12 col-s-9" id="overview_clinical_infiltration">
      {% block overview_clinical_infiltration %}
      {% endblock overview_clinical_infiltration %}
    </div>
  {% endif %}
  {% if mode == 'bmi' %}
    <div class="col-12 col-s-9" id="overview_bmi">
      {% block overview_bmi %}
      {% endblock overview_bmi %}
    </div>
  {% endif %}
  {% if mode == 'bmi stats' %}
    <div class="col-12 col-s-9" id="overview_bmi_stats">
      {% block overview_bmi_stats %}
      {% endblock overview_bmi_stats %}
    </div>
  {% endif %}
</div>
<br><br><br>
      
    

{% endblock overview %}