{% extends "./base_overview_survival.html" %}
{% block overview_survival_all %}  

<h2 class="mt-4 mb-0 pb-0 pt-5 text-center text-white rounded-top" id="overview_field_title">EC Survival Plots</h2> 
<h6 class="mt-0 pt-0 pb-5 mb-0 text-center rounded-bottom" id="overview_field_subtitle"><b>Kaplan-Meier<br>{{survival_mode_title}}</b></h6>
<!-- FORM TO FILTER THE SURVIVAL TYPE ANALYSIS -->
<div class="ps-0 col-2 col-s-9 mt-4">
  {% include "./block_survival_filters.html"%}
</div>
<!-- 1st PLOTS ROW IN THE MAIN ROW CONTAINER -->
<div class="col-10 col-s-9 mt-0">  
  <div class="row mt-4">              
    <!-- 1st PLOT CONTAINER -->
    <div class="col-6 col-s-9">
      {{survival|safe}}
      <p class="p-2 mt-0 mb-0 text-center">Number at Risk By Time</p>
      {{survival_table|safe}}     
    </div>
    <!-- 2nd PLOT CONTAINER -->
    <div class="col-6 col-s-9 pe-3">
      {{cumulative_den_surv|safe}}  
    </div>
  </div> 
</div>

{% endblock overview_survival_all%}  