<!-- FORM TO FILTER THE SURVIVAL TYPE ANALYSIS -->

{% if survival_mode %}
<h6 class="mt-4 pt-1 pb-0 mb-2 text-center display-6 fs-4 text-primary text-dark text-opacity-75 fw-bold">Clinical categories of EC<br><span class="fs-5">{{survival_mode_title}}</span></h6>
<form class="ps-4 pe-4 text-center" action="{% url 'ect:overview_survival' %}" method="post">
    {% csrf_token %}
    <input hidden type="text" name="survival_type" value="{{survival_mode}}">
    <input hidden type="text" name="show">
    {% if type == 'all' %}
    <button type="submit" class="btn btn-success btn-sm w-100" name="clinical_category" value="all" id="km" disabled>Entire entries</button><br>
    {% else %}
    <button type="submit" class="btn btn-success btn-sm w-100" name="clinical_category" value="all" id="km">Entire entries</button><br>
    {% endif %}
    {% if type == 'grade' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="grade" id="km-grade" disabled>By Grade</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="grade" id="km-grade">By Grade</button><br>
    {% endif %}
    {% if type == 'tumor_type' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="tumor_type" id="km-type" disabled>By Histologic Type</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="tumor_type" id="km-type">By Histologic Type</button><br>
    {% endif %}
    {% if type == 'mol_subtype' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="mol_subtype" id="km-subtype" disabled>By Molecular Subype</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="mol_subtype" id="km-subtype">By Molecular Subype</button><br>
    {% endif %}
    {% if type == 'stage' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="stage" id="km-stage" disabled>By Stage</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="stage" id="km-stage">By Stage</button><br>
    {% endif %}
    {% if type == 'radiotherapy' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="radiotherapy" id="km-radiation" disabled>By Radiation Thpy.</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="radiotherapy" id="km-radiation">By Radiation Thpy.</button><br>
    {% endif %}
    {% if type == 'age_group' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="age_group" id="km-age" disabled>By Age</button>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="age_group" id="km-age">By Age</button>
    {% endif %}
    {% if type == 'bmi_status' %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="bmi_status" id="km-bmi" disabled>By BMI</button><br>
    {% else %}
    <button type="submit" class="border-top btn btn-success btn-sm w-100" name="clinical_category" value="bmi_status" id="km-bmi">By BMI</button><br>
    {% endif %}
</form>
{% endif %}